.footer{
    width: 100%;  
    background: rgb(20, 16, 56);
    padding: 10px 0;
    color: #fff;
    background: rgb(20, 16, 56);
}
.footer{
    bottom: 0;
}

.container{
    width: 80%;
    margin: 0 auto;
    font-family: "Verdana"; /* Center the DIV horizontally */
    text-align: center;
}