<div class=center style="width:100%;">
    <h1 id="title"> Hello {{ contactForm.value.name | titlecase }}!</h1>
        <div *ngIf="showMsg">
            <div *ngIf="success; else elseBlock" class="success">
                {{this.message}}
            </div>
            <ng-template #elseBlock>
                <div class="danger">{{this.message}}</div>
            </ng-template>

        </div>
        <form [formGroup]="contactForm" (ngSubmit)="onSubmit()"  class="form-group">
            
            <div class="in">Name:</div>
            <mat-form-field >
                <input matInput formControlName="name" required >
            </mat-form-field>
            
            <div class="in">Email:</div>
            <mat-form-field>
                <input matInput formControlName="email" type=email required>
            </mat-form-field>
    
            <div style="font-size: 20px; padding-top: 20px; padding-bottom: 10px;">Your experience:</div>
            <mat-radio-group formControlName="feedback" required>
                
                <mat-radio-button value="Great">Great </mat-radio-button><br>
                <mat-radio-button value="Okay">Okay </mat-radio-button><br>
                <mat-radio-button value="Not Good">Not Good </mat-radio-button><br>
            </mat-radio-group>
            <br>

            <div class="in">Comments:</div>
            <mat-form-field>
                <textarea matInput formControlName="comment"></textarea>
            </mat-form-field>
            <br>
            
            <button type="submit" [disabled]="!contactForm.valid">Submit</button>
            
        </form> 
        <div class = "response">
            <div class="card left">
                    <h2>Your Response:</h2> 
                    <ul>
                        <li>Name: {{ contactForm.value.name }}</li>
                        <li>Email: {{ contactForm.value.email }}</li>
                        <li>Feedback: {{ contactForm.value.feedback }}</li>
                        <li>Comments: {{ contactForm.value.comment }}</li>
                    </ul>
            </div>
            <div *ngIf="success" class='card right'>
                <h2>Last submission: </h2>
                <ul>
                    <li>Name: {{ validResponse.value.name }}</li>
                    <li>Email: {{ validResponse.value.email }}</li>
                    <li>Feedback: {{ validResponse.value.feedback }}</li>
                    <li>Comments: {{ validResponse.value.comment }}</li>
                </ul>
            </div>
        </div>
    </div>