.row
{
  display: grid;
  grid-template-columns: auto auto;
  text-align: center;
  font-size: 30px;
  padding-top: 50px;
}

@media screen and (max-width:800px)
{
  .row
  {
    grid-template-columns: auto;
    grid-template-rows: auto;
  }
  .column
  {
    font-size: 25px;
    padding-bottom: 40px;
    & img
    {
      height: 400px;
      width: 600px;
    }
  }
}
